
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display-flex{
    display: flex;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.text-gray{
    color: #424242;
}
.text-light-gray{
    text-align: center;
    color: #727272;
    font-weight: 300;
    font-size: 16px;
    margin: 58px auto;
    max-width: 542px;
    
}
.navbar{
justify-content: space-between;
align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-itme{
    list-style: none;
    margin-left: 30px;

}

.button-primary{
    background-color: #FF900E;
    border-radius: 8px;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 23px;
    margin-top: 32px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

.nav-link{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    max-width: 100%;
}
.teams{
    align-items: center;
}
.teams-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 130px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
    
}
.soji{
   color:#727272;
   font-weight: 500px;
   font-size: 45px;
}
.id{
    color: #131313;
    font-weight: bold;
    font-size: 45px;
}
.Quick-list{
    font-weight: bold;
    font-size: 45px;
    color: rgba(255, 144, 14, 1);
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-name{
    width: 169px;
    height: 23px;
}

.fact-card{
        border: 1px solid #FF900E;
        width: 240px;
        height: 240px;
        border-radius: 8px;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 10px;
    }
.fact-namber{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.sponsor-info{
    max-width: 542px;
    margin: 58px auto;
    text-align: center;
    font-weight: 600;
    font-size: 45px;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}

    


 @media screen and (max-width: 516px) {
    .navbar, .nav-link, .teams{
        flex-direction: column;
    }
    .teams-img{
        grid-template-columns:
    }
    .our-features{
        margin-left: 20px;
    }
 }

 @media screen and (min-width: 576px) and (max-width: 992px){
    .teams{
        flex-direction: column;
     }
    }
    .our-features{
        margin: 50px auto;
    }
 }