
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display-flex{
    display: flex;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.text-gray{
    color: #424242;
}
.text-light-gray{
    color: #727272;
}
.navbar{
justify-content: space-between;
align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-itme{
    list-style: none;
    margin-left: 30px;

}

.button-primary{
    background-color: #FF900E;
    border-radius: 8px;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 23px;
    margin-top: 32px;
}

.nav-link{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    max-width: 100%;
}

 @media screen and (max-width: 516px) {
    .navbar, .nav-link{
        flex-direction: column;
    }
 }